[submodule "VTK"]
	path = VTK
	url = git@github.com:Kojox/VTK.git
	branch = paraview/release
[submodule "Utilities/VisItBridge"]
	path = Utilities/VisItBridge
	url = https://gitlab.kitware.com/paraview/visitbridge.git
[submodule "ThirdParty/IceT/vtkicet"]
	path = ThirdParty/IceT/vtkicet
	url = https://gitlab.kitware.com/paraview/icet.git
	branch = for/paraview
[submodule "ThirdParty/QtTesting/vtkqttesting"]
	path = ThirdParty/QtTesting/vtkqttesting
	url = https://gitlab.kitware.com/paraview/qttesting.git
	branch = for/paraview
[submodule "ThirdParty/mint"]
	path = ThirdParty/mint
	url = https://github.com/UniStuttgart-VISUS/MWK-mint
[submodule "ThirdParty/openvr"]
	path = ThirdParty/openvr
	url = git@github.com:ValveSoftware/openvr.git
